.container {
  display: grid;
  grid-template-columns: 4vw auto 4vw;
  grid-template-rows: 4vw auto 4vw;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1vw auto 1vw;
    grid-template-rows: 1vw auto 1vw;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 0 auto 0;
    grid-template-rows: 0 auto 0;
  }
}

.table {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
