@import './utility/utility';
@import './variables/colors';
@import './vendors/material';

body {
  color: $plista-font-color;
  background: $easy-white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
