.form-wrapper {
  background: #fff;
  padding: 20px;
  overflow: auto;
  font-size: 16px;

  .datetime {
    display: inline;
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    font-size: 12px;

    .datetime {
      display: block;
    }
  }
}

form {
  display: grid;
}

.r-btn {
  padding-right: 8px;
}

.label {
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  left: 0;
  line-height: 18px;
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  pointer-events: none;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field {
  margin-top: 4px;
}

.buttons {
  margin-top: 20px;

  button {
    width: 50%;
  }
}
