.mat-table,
.mat-paginator {
  overflow: auto;
  width: calc(100vw - 8vw);

  @media screen and (max-width: 1024px) {
    width: 98vw;
  }

  @media screen and (max-width: 768px) {
    width: 98vw;
    height: calc(98vh - 100px);
  }
}

.mat-header-cell,
.mat-cell {
  padding: 4px 0 4px 16px;
}

.mat-cell {
  display: block;
  padding-top: 12px;
  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.mat-column-a {
  flex: 0 0 24px !important;
}

.mat-column-select {
  flex: 0 0 60px !important;
}

.mat-column-campaignid,
.mat-column-userid,
.mat-column-frienddomainid {
  flex: 0 0 20% !important;

  @media screen and (max-width: 1024px) {
    flex: 0 0 12% !important;
  }

  @media screen and (max-width: 768px) {
    flex: 0 0 60px !important;
  }
}

.mat-column-PlistaProduct,
.mat-column-camp_cpc {
  flex: 0 0 80px !important;
}

.mat-column-freeclick,
.mat-column-network {
  flex: 0 0 4% !important;

  @media screen and (max-width: 768px) {
    flex: 0 0 40px !important;
  }
}

.mat-column-date {
  flex: 0 0 140px !important;
}
