.grid {
  max-height: 80vh;
  width: 100%;
  overflow: auto;

  .mat-header-cell,
  .mat-cell {
    padding: 4px 0 4px 16px;
  }

  // .mat-header-cell,
  .mat-cell {
    display: block;
    padding-top: 12px;
  }

  .mat-header-cell:nth-child(1),
  .mat-cell:nth-child(1) {
    flex: 0 0 20px;
  }

  .mat-header-cell:nth-child(2),
  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(3),
  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(5),
  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(6),
  .mat-cell:nth-child(6) {
    flex: 0 0 130px;
  }

  .mat-header-cell:nth-child(4),
  .mat-cell:nth-child(4) {
    flex: 0 0 80px;
  }

  .mat-header-cell:nth-child(7),
  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(8),
  .mat-cell:nth-child(8) {
    flex: 0 0 60px;
  }

  .mat-header-cell:nth-child(9),
  .mat-cell:nth-child(9) {
    flex: 0 0 100px;
  }

  .mat-header-cell:nth-child(10),
  .mat-cell:nth-child(10) {
    flex: 0 0 60px;
  }
}
